In [1]:
import pandas as pd
import numpy as np
from alpha_vantage.timeseries import TimeSeries

In [3]:
# Your key here
key = 'OQX9VO6JOXSLUBGF'
ts = TimeSeries(key)
aapl, meta = ts.get_intraday(symbol='AAPL')

In [11]:

def parse_ts(ts:dict):
    """Given time series data in a dictionary format, return results in a pandas df"""
    return pd.DataFrame.from_dict(aapl, orient='index')

In [12]:
parse_ts(aapl)

                      1. open   2. high    3. low  4. close 5. volume
2020-03-20 16:00:00  235.9000  237.1500  228.1500  228.7500  11725908
2020-03-20 15:45:00  241.8000  242.6200  235.0000  235.9100   5514903
2020-03-20 15:30:00  241.8400  241.9900  240.1200  241.7500   2575657
2020-03-20 15:15:00  241.5600  242.7100  241.1700  241.8700   2132493
2020-03-20 15:00:00  243.4500  244.4350  241.1600  241.5700   2240201
...                       ...       ...       ...       ...       ...
2020-03-17 11:45:00  251.7000  252.1090  248.6700  250.5400   1974827
2020-03-17 11:30:00  253.8463  254.1900  251.5000  251.7000   2348767
2020-03-17 11:15:00  250.2900  253.9500  249.7300  253.8600   2829254
2020-03-17 11:00:00  247.3200  251.4400  247.0200  250.3400   3318630
2020-03-17 10:45:00  244.7600  247.5000  244.4600  247.2300   2759644

[100 rows x 5 columns]

In [14]:
q = ts.get_quote_endpoint(symbol='AAPL')
q

({'01. symbol': 'AAPL',
  '02. open': '247.1800',
  '03. high': '251.8300',
  '04. low': '228.0000',
  '05. price': '229.2400',
  '06. volume': '99706854',
  '07. latest trading day': '2020-03-20',
  '08. previous close': '244.7800',
  '09. change': '-15.5400',
  '10. change percent': '-6.3486%'},
 None)

In [17]:
# get current stock price
float(q[0]['05. price'])

229.24